/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Font Stacks
$open-sans:				'Open Sans', sans-serif;
$open-condensed:	'Open Sans Condensed', sans-serif;
//$michroma:				'Michroma', sans-serif;
$fontawesome: 		'FontAwesome';
$avant:						'Avant Garde Medium Condensed', sans-serif;
$avant-book:			'Avant Garde Book', sans-serif;
$tex:							'TeX Gyre Adventor', sans-serif;

// Colors
//$green1:				#8cc73f;
//$green2:				#bfd72e;
//$green3:				#c9db5e;
//$brown1:				#574b47;
//$brown2:				#403532;

$orange:				#f0682c;
$blue:					#0c4f9d;
$gray:					#6d6e71;

// Typography colors
//$gold:	#b9a360;
//$gold:	#d5c084;
//$brown:	#393428;

// Other Variables
$a-tags: 				'a, a:link, a:active, a:visited';
$a-tags-hover: 	'a:active, a:hover';
//$normal:				500 !important;
//$less-bold:			600 !important;
//$bold:					700 !important;
//$bolder:				800 !important;

$headerHeight:	70px !important;
$gutter:				10px;

//$mobile:	'(max-width:767px)';
//$narrow:	'(min-width:768px) and (max-width:959px)';
//$normal:	'(min-width:960px) and (max-width:1179px)';
//$wide:		'(min-width:1180px)';