/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Font Stacks
$open:				'Open Sans', sans-serif;
// $lato:				'Lato', sans-serif;
$condensed:		'Open Sans Condensed', sans-serif;
// $montserrat:	'Montserrat', sans-serif;
//$michroma:		'Michroma', sans-serif;
//$oswald:			'Oswald', sans-serif;
$fontawesome: 'FontAwesome';

// Colors
$facebook: 		#3b5998;
// $facebook:		#8b9dc3;
$twitter:	 		#55acee;
$youtube:	 		#cd201f;
$instagram:		#3f729b;
$vimeo:		 		#85D0E0;
$flickr:	 		#82B2CF;
$linkedin: 		#1484CA;
$pinterest:		#EF554D;
$mobile:	 		#046C35;
$directory:		#897B68;

$green:				#00853e;
$lime:				#72b844;
$dark-green:	#006a31;
$old-green:		#059033;
$black:				#181818;

$cd1:			$green;
$cd2:			$lime;
$cd3:			$dark-green;

// Other Variables
$a-tags: 				'a, a:link, a:active, a:visited';
$a-tags-hover: 	'a:active, a:hover';
$normal:				500 !important;
$less-bold:			600 !important;
$bold:					700 !important;
$bolder:				800 !important;

$gutter:				10px;
$narrow: 				768px; //768
$normal: 				980px; //960
$wide: 					1200px;  //1180
