@import 'bourbon';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'elements';
@import 'navigation';
@import 'grid';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@include desktop {
	.desktop {
		display: inherit;
	}
	
	.mobile {
		display: none;
	}
}

@include mobile {
	.desktop {
		display: none;
	}
	
	.mobile {
		display: inherit;
	}
}

//////////////
//  LAYOUT  //
//////////////
#header {
	width: 100%;
	height: 130px;
	display: block;
	margin-bottom: 60px;
	position: relative;
	
	@include mobile {
		height: auto;
		margin-bottom: 0;
	}

	.box {
		overflow: visible !important;
	}
	
	.row {
		overflow: visible !important;
	}

	.col {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
//		overflow: visible !important;
	}

	#masthead {
		height: 50px;
		background: $black;
		
		@include mobile {
			display: none;
		}
		
		
		.wordmark {
			height: 50px;
			margin: 0 0 0 165px;
			
			@include narrow-down {
				margin-left: 140px;
			}
			
			a {
				display: block;
			}
			
			img {
				width: 392px;
				height: 20px;
				margin-top: 16px;
				
				@include narrow-down {
					width: 320px;
					height: 16px;
					margin-top: 18px;
				}
			}
		}
	}
	
	#branding {
		height: 80px;
		background: $green;
		overflow: visible !important;
		z-index: 100;
		
		@include mobile {
			display: none;
		}
		
		#banner {
			float: left;
			display: block;
			overflow: visible !important;
			
			@include mobile {
				display: none;
			}
			
			a {
				display: block;
			}
			
			img {
				width: 150px;
				height: 172px;
				margin-top: -45px;
				
				@include narrow-down {
					width: 125px;
					height: 143px;
					margin-top: -32px;
				}
			}
		}
		
		#site-name {
			float: left;
			display: block;
			
			@include wide {
				width: 990px;
			}
			
			@include normal {
				width: 770px;
			}
			
			@include narrow {
				width: 575px;
			}
			
			@include mobile {
				display: none;
			}
			
			h1 {
				color: #fff;
				margin: 22px 0 0 15px;
				line-height: 1em;
				font-weight: 600;
				@include font-size(32px);
				
				@include narrow {
					margin-top: 12px;
					@include font-size(26px);
				}
			}
		}
	}
	
	#mobile-branding {
		@include desktop {
			display: none;
		}
		
		#lettermark {
			display: block;
			height: 50px;
			background: $green;
			padding: 0 .9375em;

			img {
				margin-top: 10px;
			}
		}
		
		#site-name {
			background: $lime;
			padding: 8px .9375em 10px .9375em;
			
			h1 {
				color: #fff;
				font-weight: 600;
				@include font-size(24px);
			}
		}
	}
}

///////////////
//  CONTENT  //
///////////////
#content {
	padding-bottom: 3em;
}

.required {
	font-size: .9em;
	font-weight: normal;
	
	abbr {
		color: #d00;
	}
}

form {
	
	fieldset {
		margin: 0;
		padding: 0 0 3em 0;
		
		legend {
			font-weight: bold;
			margin-bottom: .5em;
			
			abbr {
				color: #d00;
				font-size: .8em;
			}
		}
	}
	
	ul {
		padding-left: 0;
		
		li {
			margin: 0 0 1.5em 0;
			
			strong {
				color: #d00;
				font-size: .8em;
				
				abbr {
					vertical-align: super;
				}
			}
			
			em {
				color: #999;
				margin-left: 20px;
				margin-bottom: 13px;
				line-height: 1.35em;
			}
			
			input[type="TEXT"],
			input[type="date"],
			input[type="email"],
			select {
				padding: 5px 8px;
			}
			
			select {
				height: 30px;
				
				option {
					padding: 5px 8px;
				}
			}
		}
		
		&.radio {
			li {
				margin: 0 0 .5em 0;
			}
		}
	}
}

#btn-wrapper {
	input {
		text-transform: uppercase;
		@include font-size(14px);
		font-weight: bold;
		padding: 11px 28px 11px 30px;
		width: auto;
		border: none;
		box-shadow: none;
		
		&:hover {
			cursor: pointer;
			background: $green;
		}
	}
}

//////////////
//  FOOTER  //
//////////////
footer#footer {
}

.footer-socials {
	color: #fff;
	padding: 15px 0.9375em;
	display: block;
	background: #2d2c2c;
	text-align: center;
	float: none;
	overflow: hidden;
	
	.socials-wrapper {
		height: 50px;

		@include mobile {
			height: 40px;
		}
	}
	
	a {
		width: 40px;
		height: 40px;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
		color: #efefef;
		text-decoration: none;
		@include border-radius(25px);
		
		@include mobile {
			margin: 0;
			width: 30px;
			height: 30px;
			padding: 5px;
		}
		
		img {
			padding: 0px;
			width: 40px;
			height: 40px;

			@include mobile {
				padding: 0px;
				width: 30px;
				height: 30px;
			}
		}
		
		
		&.facebook {
			&:hover {
				background: $facebook;
			}			
		}
		
		&.twitter {
			&:hover {
				background: $twitter;
			}
		}
		
		&.youtube {
			&:hover {
				background: $youtube;
			}
		}
		
		&.instagram {
			&:hover {
				background: $instagram;
			}
		}
		
		&.flickr {
			&:hover {
				background: $flickr;
			}
		}
		
		&.mobile {
			&:hover {
				background: $mobile;
			}
		}
		
		&.directory {
			&:hover {
				background: $directory;
			}
		}		
	}
}

.footer-main {
	color: #efefef;
	padding: 1em 0 .25em 0;
	background: $black;
	
	#{$a-tags} {
		color: #efefef;
	}
	
	#{$a-tags-hover} {
		color: $lime;
	}
	
	.lockup {
		text-align: center;
		
		a {
			display: inline-block;
			margin: 0 auto;
			padding: 10px;
			background: $green;
		}
	}
	
	.need-help {
		color: #fff;
		margin: 0 0 15px 0;
		font-weight: bold;
		@include font-size(20px);
		line-height: 1em;
		display: block;
		
		@include normal-down {
			@include font-size(17px);
		}
		
		@include mobile {
			@include font-size(20px);
		}
	}
	
	.help-phone {
		margin: 0 0 5px 0;
		@include font-size(20px);
		line-height: 1em;
		display: block;
		font-weight: bold;
		
		@include normal-down {
			@include font-size(18px);
		}

		@include mobile {
			@include font-size(20px);
		}
		
		i.fa {
			color: #fff;
		}

		a {
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: underline;
		}
	}
	
	.ctas {
		text-align: center;
		
		a {
			padding: 15px 30px;
			color: #fff;
			background: $lime;
			margin: 1em 10px 0 10px;
			font-weight: bold;
			display: inline-block;
			text-decoration: none;
			@include font-size(24px);
			line-height: 1.1em;
			@include border-radius(5px);
			
			@include normal {
				padding: 12px 23px;
				margin: .75em 10px 0 10px;
			}
			
			@include narrow-down {
				display: block;
				clear: both;
				margin: 0 0 6px 0;
				padding: 10px 20px 11px 20px;
				@include font-size(21px);
				
				span.br {
					display: none;
				}
				
				span.spacer {
					display: inline-block;
					width: 8px;
				}
			}

			@include mobile {
				margin: 0 0 5px 0;
				@include font-size(24px);
			}
		}
		
		a:hover {
			color: $black;
			background: #fff;			
		}
	}
	
	ul.fa-ul {
		margin-left: 20px;

		li {
			list-style: none;
			@include font-size(12px);
			margin-bottom: .5em;
			
			a {
				text-decoration: none;
			}
			
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

.footer-copyright {
	text-align: center;
	background: #000;
	padding: 1.25em 0 .75em 0;
	
	p {
		color: #888;
		margin: 0 0 1em 0;
		@include font-size(12px);
		line-height: 1.25em;
	}
	
	#{$a-tags} {
		color: #aaa;
	}
	
	#{$a-tags-hover} {
		color: $lime;
	}
}

.col.large-12 {
	@include mobile {
		padding-left: 0;
		padding-right: 0;
	}
}

li.col {
	line-height: 1.75em;
}