.section {
	width: 100%;
	margin: 0;
	padding: 0;
}

.box {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	
	@include mobile {
		width: 90%;
	}
	
	@include narrow {
		width: 740px;
	}
	
	@include normal {
		width: 960px;
	}
	
	@include wide {
		width: 1180px;
	}
	
	&.wide {
		width: 100%;
	}
}

.row {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	
	&:before, &:after {
		content: " ";
		display: table;
	}
	
	& .row {
		width: auto;
	}
}

.col {
	margin: $gutter;
	padding: $gutter;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);
	
	&.centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		clear: both;
	}
	
	&.right {
		float: right;
		
		@include mobile {
			float: none;
		}	
	}
	
	& > .inside {
		margin: 0 1rem;
	}
	
	&.clearLeft {
		clear: left;
	}	
}

.large-12 { @include g12 }
.large-11 { @include g11 }
.large-10 { @include g10 }
.large-9 { @include g9 }
.large-8 { @include g8 }
.large-7 { @include g7 }
.large-6 { @include g6 }
.large-5 { @include g5 }
.large-4 { @include g4 }
.large-3 { @include g3 }
.large-2 { @include g2 }
.large-1 { @include g1 }
.large-0 { @include g0 }
.large-5th { @include g5th }

@media (max-width:calc($wide-1)) {
	.medium-12 { @include g12 }
	.medium-11 { @include g11 }
	.medium-10 { @include g10 }
	.medium-9 { @include g9 }
	.medium-8 { @include g8 }
	.medium-7 { @include g7 }
	.medium-6 { @include g6 }
	.medium-5 { @include g5 }
	.medium-4 { @include g4 }
	.medium-3 { @include g3 }
	.medium-2 { @include g2 }
	.medium-1 { @include g1 }
	.medium-0 { @include g0 }
	.medium-5th { @include g5th }
}

@media (max-width:calc($normal-1)) {
	.small-12 { @include g12 }
	.small-11 { @include g11 }
	.small-10 { @include g10 }
	.small-9 { @include g9 }
	.small-8 { @include g8 }
	.small-7 { @include g7 }
	.small-6 { @include g6 }
	.small-5 { @include g5 }
	.small-4 { @include g4 }
	.small-3 { @include g3 }
	.small-2 { @include g2 }
	.small-1 { @include g1 }
	.small-0 { @include g0 }
	.small-5th { @include g5th }
}

@include mobile {
	.small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .small-5th, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .medium-5th, .large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .large-5th {
		width: calc(100%-(#{$gutter}*2));
		clear: both;
		float: none;
		margin: 0 auto calc(#{$gutter}*2) auto;
	}

	.mobile-12 { width: 100%; }
	.mobile-11 { width: 91.6% }
	.mobile-10 { width: 83.3% }
	.mobile-9 { width: 75% }
	.mobile-8 { width: 66.6% }
	.mobile-7 { width: 58.3% }
	.mobile-6 { width: calc(50% - (#{$gutter}*4)); }
	.mobile-5 { width: 41.6% }
	.mobile-4 { width: 33.3% }
	.mobile-3 { width: 25% }
	.mobile-2 { width: 16.6% }
	.mobile-1 { width: 8.3% }
	.mobile-0 { width: 0px !important; height: 0px !important; }
	.mobile-5th { width: 20%; }
	
	.mobile-1, .mobile-2, .mobile-3, .mobile-4, .mobile-5, .mobile-6, .mobile-7, .mobile-8, .mobile-9, .mobile-10, .mobile-11, .mobile-12, .mobile-5th {
		float: left;
		clear: none;
		margin: $gutter;
	}

	.mobile-centered {
		float: none;
		clear: both;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: calc(#{$gutter}*2);
	}
	
}

.col.parent {
	margin: 0;
	padding: 0;
	background: none;
	
	&.large-12, &.medium-12, &.small-12, &.mobile-12 { width: 100%; }
	
	&.large-11, &.medium-11, &.small-11, &.mobile-11 { width: calc((100%/12)*11); }
	
	&.large-10, &.medium-10, &.small-10, &.mobile-10 { width: calc((100%/12)*10); }
	
	&.large-9, &.medium-9, &.small-9, &.mobile-9 { width: 75%; }
	
	&.large-8, &.medium-8, &.small-8, &.mobile-8 { width: calc((100%/12)*8); }
	
	&.large-7, &.medium-7, &.small-7, &.mobile-7 { width: calc((100%/12)*7); }
	
	&.large-6, &.medium-6, &.small-6, &.mobile-6 { width: 50%; }
	
	&.large-5, &.medium-5, &.small-5, &.mobile-5 { width: calc((100%/12)*5); }
	
	&.large-4, &.medium-4, &.small-4, &.mobile-4 { width: calc((100%/12)*4); }
	
	&.large-3, &.medium-3, &.small-3, &.mobile-3 { width: 25%; }
	
	&.large-2, &.medium-2, &.small-2, &.mobile-2 { width: calc((100%/12)*2); }
	
	&.large-1, &.medium-1, &.small-1, &.mobile-1 { width: calc(100%/12); }
	
	&.large-0, &.medium-0, &.small-0, &.mobile-0 { width: 0px; height: 0px; }
	
	&.large-5th, &.medium-5th, &.small-5th, &.mobile-5th { width: 20%; }
	
	@include mobile {
		&.small-1, &.small-2, &.small-3, &.small-4, &.small-5, &.small-6, &.small-7, &.small-8, &.small-9, &.small-10, &.small-11, &.small-12, &.small-5th, &.medium-1, &.medium-2, &.medium-3, &.medium-4, &.medium-5, &.medium-6, &.medium-7, &.medium-8, &.medium-9, &.medium-10, &.medium-11, &.medium-12, &.medium-5th, &.large-1, &.large-2, &.large-3, &.large-4, &.large-5, &.large-6, &.large-7, &.large-8, &.large-9, &.large-10, &.large-11, &.large-12, &.large-5th {
			width: 100%;
		}
	}	
}