/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Font Stacks
$open-sans:				'Open Sans', sans-serif;
//$open-condensed:	'Open Sans Condensed', sans-serif;
//$michroma:				'Michroma', sans-serif;
$fontawesome: 		'FontAwesome';

// Colors
$facebook:	#395897;
$twitter:		#28aae0;
$green1:		#8cc73f;
$green2:		#bfd72e;
$green3:		#c9db5e;
$brown1:		#574b47;
$brown2:		#403532;
$orange:		#f37022;
$blue:			#0E4D8B;
$text:			#4A4163;

// Typography colors
//$gold:	#b9a360;
$gold:	#d5c084;
$brown:	#393428;

// Other Variables
$a-tags: 				'a, a:link, a:active, a:visited';
$a-tags-hover: 	'a:active, a:hover';
$normal:				500 !important;
$less-bold:			600 !important;
$bold:					700 !important;
$bolder:				800 !important;

$gutter:				10px;