/* ==========================================================================
   VARIABLES
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Open+Sans+Condensed:300,700);
html {
  font-size: 16px; }

/* ------------------------------------------------------------------------------------------------ [ TYPOGRAPHY ] ----- */
body {
  line-height: 1em;
  letter-spacing: normal;
  font-family: "Open Sans", sans-serif; }
  @media (max-width: 767px) {
    body {
      font-size: 14px;
      font-size: 0.875em;
      font-size: 0.875rem; } }
  @media (min-width: 768px) and (max-width: 979px) {
    body {
      font-size: 14px;
      font-size: 0.875em;
      font-size: 0.875rem; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    body {
      font-size: 15px;
      font-size: 0.9375em;
      font-size: 0.9375rem; } }
  @media (min-width: 1200px) {
    body {
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem; } }

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  letter-spacing: normal;
  line-height: 1.15em;
  margin: 0; }

h1, h2, h3 {
  line-height: 1.15em;
  font-family: "Open Sans", sans-serif; }

h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 44px;
  font-size: 2.75em;
  font-size: 2.75rem; }

h2 {
  font-size: 32px;
  font-size: 2em;
  font-size: 2rem;
  margin-bottom: .25em; }

h3 {
  font-size: 26px;
  font-size: 1.625em;
  font-size: 1.625rem; }

h4 {
  font-size: 22px;
  font-size: 1.375em;
  font-size: 1.375rem; }

h5 {
  font-size: 18px;
  font-size: 1.125em;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem; }

p {
  color: #181818;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
  margin-bottom: 1.25em;
  line-height: 2em;
  text-rendering: optimizeLegibility; }

ul, ol {
  padding-left: 25px; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

li {
  line-height: 1.35em;
  margin: 0 0 .75em 0;
  font-size: .9375em;
  list-style: disc; }
  .smaller li {
    font-size: .9em !important;
    line-height: 1.5em; }

b, strong, em, small, code {
  line-height: 1em; }

sup {
  vertical-align: super;
  font-size: .9em;
  position: relative; }

sub {
  vertical-align: baseline;
  position: relative; }

.title {
  margin-top: 0; }

.thick {
  font-weight: bolder; }

/* ------------------------------------------------------------------------------------------------ [ OTHER TYPO ] ----- */
a, a:link, a:active, a:visited {
  color: #006a31; }

a:active, a:hover {
  color: #181818;
  text-decoration: underline; }

.caps {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: 700;
  letter-spacing: .025em; }

.red-star {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #c00; }

.tooltip {
  border: dashed 1px #ccc;
  border-width: 0 0 1px 0;
  background: #fbfbe5;
  padding: 2px 0;
  position: relative; }

.tooltip span {
  display: none;
  position: absolute;
  top: 125%;
  background: #fbfbe5;
  font-size: .8em;
  line-height: 1.35em; }

.tooltip:hover {
  cursor: hand !important; }

.tooltip:hover span,
.tooltip:focus span {
  display: block;
  width: 250px;
  padding: 10px;
  z-index: 1000; }

.caption,
.table-notes {
  font-size: .7em;
  line-height: 1.35em;
  margin: -15px 0 10px 0;
  color: #999;
  font-style: italic; }

.caption {
  margin: 3px 0 0 0; }

.video .caption {
  margin: 18px 0 0 -7px; }

.border {
  border: solid 3px #eee; }

.no-border {
  border: none !important; }

.btn {
  display: block;
  margin: 2em 0; }
  .btn a {
    font-size: 14px;
    font-size: 0.875em;
    font-size: 0.875rem;
    line-height: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    border: solid 2px;
    padding: 13px 25px 12px 25px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600; }
    @media (max-width: 767px) {
      .btn a {
        font-size: 12px;
        font-size: 0.75em;
        font-size: 0.75rem;
        padding: 11px 20px 10px 20px !important; } }
    .btn a::after {
      content: "\f054";
      font-family: "FontAwesome";
      font-weight: 100;
      font-size: .9em;
      padding-left: 4px; }
    .btn a.phone::before {
      content: "\f095";
      font-family: "FontAwesome";
      font-weight: 100;
      font-size: 1.1em;
      padding-right: 6px; }
    .btn a.phone::after {
      content: ""; }
    .btn a.pdf::after {
      content: "\f1c1";
      font-size: 1.15em;
      padding-left: 8px; }
    .btn a.email::after {
      content: "\f003";
      font-size: 1.25em;
      padding-left: 8px; }
    .btn a.url {
      text-transform: none; }
  .btn.btn1.white a {
    color: #fff !important;
    border-color: #fff; }
    .btn.btn1.white a:hover {
      color: #333 !important;
      background-color: #fff;
      text-decoration: none; }
  .btn.btn1.black a {
    color: #181818 !important;
    border-color: #181818; }
    .btn.btn1.black a:hover {
      color: #fff !important;
      background-color: #181818;
      text-decoration: none; }
  .btn.btn1.cd1 a {
    color: #00853e !important;
    border-color: #00853e; }
    .btn.btn1.cd1 a:hover {
      color: #fff !important;
      background-color: #00853e;
      text-decoration: none; }
  .btn.btn1.cd2 a {
    color: #72b844 !important;
    border-color: #72b844; }
    .btn.btn1.cd2 a:hover {
      color: #fff !important;
      background-color: #72b844;
      text-decoration: none; }
  .btn.btn1.cd3 a {
    color: #006a31 !important;
    border-color: #006a31; }
    .btn.btn1.cd3 a:hover {
      color: #fff !important;
      background-color: #006a31;
      text-decoration: none; }
  .btn.btn2.white a {
    color: #000 !important;
    border-color: #fff;
    background-color: #fff; }
    .btn.btn2.white a:hover {
      color: #fff !important;
      background-color: transparent;
      text-decoration: none; }
  .btn.btn2.black a {
    color: #fff !important;
    border-color: #181818;
    background-color: #181818; }
    .btn.btn2.black a:hover {
      color: #181818 !important;
      background-color: transparent;
      text-decoration: none; }
  .btn.btn2.cd1 a {
    color: #fff !important;
    border-color: #00853e;
    background-color: #00853e; }
    .btn.btn2.cd1 a:hover {
      color: #00853e !important;
      background-color: transparent;
      text-decoration: none; }
  .btn.btn2.cd2 a {
    color: #fff !important;
    border-color: #72b844;
    background-color: #72b844; }
    .btn.btn2.cd2 a:hover {
      color: #72b844 !important;
      background-color: transparent;
      text-decoration: none; }
  .btn.btn2.cd3 a {
    color: #fff !important;
    border-color: #006a31;
    background-color: #006a31; }
    .btn.btn2.cd3 a:hover {
      color: #006a31 !important;
      background-color: transparent;
      text-decoration: none; }

.btn-group {
  width: 100%;
  clear: both;
  display: block;
  overflow: hidden; }
  .btn-group .btn {
    margin: 0 .5em;
    display: inline-block; }
    @media (max-width: 767px) {
      .btn-group .btn {
        margin-bottom: 1em; } }

.faded-line {
  width: 100%;
  height: 3px;
  line-height: 3px;
  margin: 3em 0;
  clear: both;
  display: block;
  text-align: center; }
  .faded-line img {
    opacity: .5; }

#zone-content .contextual-links li {
  line-height: inherit;
  margin: 0 !important; }

#skip a, #skip a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #006a31;
  color: white; }
#skip a:hover,
#skip a:active,
#skip a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 5px 0 7px 0; }

.section {
  width: 100%;
  margin: 0;
  padding: 0; }

.box {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 767px) {
    .box {
      width: 90%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .box {
      width: 748px; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    .box {
      width: 960px; } }
  @media (min-width: 1200px) {
    .box {
      width: 1180px; } }
  .box.wide {
    width: 100%; }

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row .row {
    width: auto; }

.col {
  margin: 10px;
  padding: 10px;
  float: left;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .col.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both; }
  .col.right {
    float: right; }
    @media (max-width: 767px) {
      .col.right {
        float: none; } }
  .col > .inside {
    margin: 0 1rem; }
  .col.clearLeft {
    clear: left; }

.large-12 {
  width: calc(100% - (10px * 2)); }

.large-11 {
  width: calc(((100%/12)*11) - (10px*2)); }

.large-10 {
  width: calc(((100%/12)*10) - (10px*2)); }

.large-9 {
  width: calc(75% - (10px*2)); }

.large-8 {
  width: calc(((100%/12)*8) - (10px*2)); }

.large-7 {
  width: calc(((100%/12)*7) - (10px*2)); }

.large-6 {
  width: calc(50% - (10px*2)); }

.large-5 {
  width: calc(((100%/12)*5) - (10px*2)); }

.large-4 {
  width: calc(((100%/12)*4) - (10px*2)); }

.large-3 {
  width: calc(25% - (10px*2)); }

.large-2 {
  width: calc(((100%/12)*2) - (10px*2)); }

.large-1 {
  width: calc((100%/12) - (10px*2)); }

.large-0 {
  width: 0px;
  height: 0px; }

.large-5th {
  width: calc(20% - (10px*2)); }

@media (max-width: 1219px) {
  .medium-12 {
    width: calc(100% - (10px * 2)); }

  .medium-11 {
    width: calc(((100%/12)*11) - (10px*2)); }

  .medium-10 {
    width: calc(((100%/12)*10) - (10px*2)); }

  .medium-9 {
    width: calc(75% - (10px*2)); }

  .medium-8 {
    width: calc(((100%/12)*8) - (10px*2)); }

  .medium-7 {
    width: calc(((100%/12)*7) - (10px*2)); }

  .medium-6 {
    width: calc(50% - (10px*2)); }

  .medium-5 {
    width: calc(((100%/12)*5) - (10px*2)); }

  .medium-4 {
    width: calc(((100%/12)*4) - (10px*2)); }

  .medium-3 {
    width: calc(25% - (10px*2)); }

  .medium-2 {
    width: calc(((100%/12)*2) - (10px*2)); }

  .medium-1 {
    width: calc((100%/12) - (10px*2)); }

  .medium-0 {
    width: 0px;
    height: 0px; }

  .medium-5th {
    width: calc(20% - (10px*2)); } }
@media (max-width: 979px) {
  .small-12 {
    width: calc(100% - (10px * 2)); }

  .small-11 {
    width: calc(((100%/12)*11) - (10px*2)); }

  .small-10 {
    width: calc(((100%/12)*10) - (10px*2)); }

  .small-9 {
    width: calc(75% - (10px*2)); }

  .small-8 {
    width: calc(((100%/12)*8) - (10px*2)); }

  .small-7 {
    width: calc(((100%/12)*7) - (10px*2)); }

  .small-6 {
    width: calc(50% - (10px*2)); }

  .small-5 {
    width: calc(((100%/12)*5) - (10px*2)); }

  .small-4 {
    width: calc(((100%/12)*4) - (10px*2)); }

  .small-3 {
    width: calc(25% - (10px*2)); }

  .small-2 {
    width: calc(((100%/12)*2) - (10px*2)); }

  .small-1 {
    width: calc((100%/12) - (10px*2)); }

  .small-0 {
    width: 0px;
    height: 0px; }

  .small-5th {
    width: calc(20% - (10px*2)); } }
@media (max-width: 767px) {
  .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .small-5th, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .medium-5th, .large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .large-5th {
    width: 100%;
    clear: both;
    float: none;
    margin: 0 auto calc(10px*2) auto; }
    .box.wide .small-1, .box.wide .small-2, .box.wide .small-3, .box.wide .small-4, .box.wide .small-5, .box.wide .small-6, .box.wide .small-7, .box.wide .small-8, .box.wide .small-9, .box.wide .small-10, .box.wide .small-11, .box.wide .small-12, .box.wide .small-5th, .box.wide .medium-1, .box.wide .medium-2, .box.wide .medium-3, .box.wide .medium-4, .box.wide .medium-5, .box.wide .medium-6, .box.wide .medium-7, .box.wide .medium-8, .box.wide .medium-9, .box.wide .medium-10, .box.wide .medium-11, .box.wide .medium-12, .box.wide .medium-5th, .box.wide .large-1, .box.wide .large-2, .box.wide .large-3, .box.wide .large-4, .box.wide .large-5, .box.wide .large-6, .box.wide .large-7, .box.wide .large-8, .box.wide .large-9, .box.wide .large-10, .box.wide .large-11, .box.wide .large-12, .box.wide .large-5th {
      width: 90%; }

  .mobile-12 {
    width: 100%; }

  .mobile-11 {
    width: 91.6%; }

  .mobile-10 {
    width: 83.3%; }

  .mobile-9 {
    width: 75%; }

  .mobile-8 {
    width: 66.6%; }

  .mobile-7 {
    width: 58.3%; }

  .mobile-6 {
    width: calc(50% - (10px*2)); }

  .mobile-5 {
    width: 41.6%; }

  .mobile-4 {
    width: 33.3%; }

  .mobile-3 {
    width: 25%; }

  .mobile-2 {
    width: 16.6%; }

  .mobile-1 {
    width: 8.3%; }

  .mobile-0 {
    width: 0px !important;
    height: 0px !important; }

  .mobile-5th {
    width: 20%; }

  .mobile-1, .mobile-2, .mobile-3, .mobile-4, .mobile-5, .mobile-6, .mobile-7, .mobile-8, .mobile-9, .mobile-10, .mobile-11, .mobile-12, .mobile-5th {
    float: left;
    clear: none;
    margin: 10px; }

  .mobile-5th {
    margin: 10px 0; }

  .mobile-centered {
    float: none;
    clear: both;
    margin: calc(10px*2) auto; }
    .parent .mobile-centered:last-child {
      margin-bottom: 10px; } }
.col.parent {
  margin: 0;
  padding: 0;
  background: none; }
  .col.parent.large-12, .col.parent.medium-12, .col.parent.small-12, .col.parent.mobile-12 {
    width: 100%; }
  .col.parent.large-11, .col.parent.medium-11, .col.parent.small-11, .col.parent.mobile-11 {
    width: calc((100%/12)*11); }
  .col.parent.large-10, .col.parent.medium-10, .col.parent.small-10, .col.parent.mobile-10 {
    width: calc((100%/12)*10); }
  .col.parent.large-9, .col.parent.medium-9, .col.parent.small-9, .col.parent.mobile-9 {
    width: 75%; }
  .col.parent.large-8, .col.parent.medium-8, .col.parent.small-8, .col.parent.mobile-8 {
    width: calc((100%/12)*8); }
  .col.parent.large-7, .col.parent.medium-7, .col.parent.small-7, .col.parent.mobile-7 {
    width: calc((100%/12)*7); }
  .col.parent.large-6, .col.parent.medium-6, .col.parent.small-6, .col.parent.mobile-6 {
    width: 50%; }
  .col.parent.large-5, .col.parent.medium-5, .col.parent.small-5, .col.parent.mobile-5 {
    width: calc((100%/12)*5); }
  .col.parent.large-4, .col.parent.medium-4, .col.parent.small-4, .col.parent.mobile-4 {
    width: calc((100%/12)*4); }
  .col.parent.large-3, .col.parent.medium-3, .col.parent.small-3, .col.parent.mobile-3 {
    width: 25%; }
  .col.parent.large-2, .col.parent.medium-2, .col.parent.small-2, .col.parent.mobile-2 {
    width: calc((100%/12)*2); }
  .col.parent.large-1, .col.parent.medium-1, .col.parent.small-1, .col.parent.mobile-1 {
    width: calc(100%/12); }
  .col.parent.large-0, .col.parent.medium-0, .col.parent.small-0, .col.parent.mobile-0 {
    width: 0px;
    height: 0px; }
  .col.parent.large-5th, .col.parent.medium-5th, .col.parent.small-5th, .col.parent.mobile-5th {
    width: 20%; }
  @media (max-width: 767px) {
    .col.parent.small-1, .col.parent.small-2, .col.parent.small-3, .col.parent.small-4, .col.parent.small-5, .col.parent.small-6, .col.parent.small-7, .col.parent.small-8, .col.parent.small-9, .col.parent.small-10, .col.parent.small-11, .col.parent.small-12, .col.parent.small-5th, .col.parent.medium-1, .col.parent.medium-2, .col.parent.medium-3, .col.parent.medium-4, .col.parent.medium-5, .col.parent.medium-6, .col.parent.medium-7, .col.parent.medium-8, .col.parent.medium-9, .col.parent.medium-10, .col.parent.medium-11, .col.parent.medium-12, .col.parent.medium-5th, .col.parent.large-1, .col.parent.large-2, .col.parent.large-3, .col.parent.large-4, .col.parent.large-5, .col.parent.large-6, .col.parent.large-7, .col.parent.large-8, .col.parent.large-9, .col.parent.large-10, .col.parent.large-11, .col.parent.large-12, .col.parent.large-5th {
      width: 100%; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .desktop {
    display: inherit; }

  .mobile {
    display: none; } }
@media (max-width: 767px) {
  .desktop {
    display: none; }

  .mobile {
    display: inherit; } }
#header {
  width: 100%;
  height: 130px;
  display: block;
  margin-bottom: 60px;
  position: relative; }
  @media (max-width: 767px) {
    #header {
      height: auto;
      margin-bottom: 0; } }
  #header .box {
    overflow: visible !important; }
  #header .row {
    overflow: visible !important; }
  #header .col {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
  #header #masthead {
    height: 50px;
    background: #181818; }
    @media (max-width: 767px) {
      #header #masthead {
        display: none; } }
    #header #masthead .wordmark {
      height: 50px;
      margin: 0 0 0 165px; }
      @media (max-width: 979px) {
        #header #masthead .wordmark {
          margin-left: 140px; } }
      #header #masthead .wordmark a {
        display: block; }
      #header #masthead .wordmark img {
        width: 392px;
        height: 20px;
        margin-top: 16px; }
        @media (max-width: 979px) {
          #header #masthead .wordmark img {
            width: 320px;
            height: 16px;
            margin-top: 18px; } }
  #header #branding {
    height: 80px;
    background: #00853e;
    overflow: visible !important;
    z-index: 100; }
    @media (max-width: 767px) {
      #header #branding {
        display: none; } }
    #header #branding #banner {
      float: left;
      display: block;
      overflow: visible !important; }
      @media (max-width: 767px) {
        #header #branding #banner {
          display: none; } }
      #header #branding #banner a {
        display: block; }
      #header #branding #banner img {
        width: 150px;
        height: 172px;
        margin-top: -45px; }
        @media (max-width: 979px) {
          #header #branding #banner img {
            width: 125px;
            height: 143px;
            margin-top: -32px; } }
    #header #branding #site-name {
      float: left;
      display: block; }
      @media (min-width: 1200px) {
        #header #branding #site-name {
          width: 990px; } }
      @media (min-width: 980px) and (max-width: 1199px) {
        #header #branding #site-name {
          width: 770px; } }
      @media (min-width: 768px) and (max-width: 979px) {
        #header #branding #site-name {
          width: 575px; } }
      @media (max-width: 767px) {
        #header #branding #site-name {
          display: none; } }
      #header #branding #site-name h1 {
        color: #fff;
        margin: 22px 0 0 15px;
        line-height: 1em;
        font-weight: 600;
        font-size: 32px;
        font-size: 2em;
        font-size: 2rem; }
        @media (min-width: 768px) and (max-width: 979px) {
          #header #branding #site-name h1 {
            margin-top: 12px;
            font-size: 26px;
            font-size: 1.625em;
            font-size: 1.625rem; } }
  @media (min-width: 768px) {
    #header #mobile-branding {
      display: none; } }
  #header #mobile-branding #lettermark {
    display: block;
    height: 50px;
    background: #00853e;
    padding: 0 .9375em; }
    #header #mobile-branding #lettermark img {
      margin-top: 10px; }
  #header #mobile-branding #site-name {
    background: #72b844;
    padding: 8px .9375em 10px .9375em; }
    #header #mobile-branding #site-name h1 {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      font-size: 1.5em;
      font-size: 1.5rem; }

#content {
  padding-bottom: 3em; }

.required {
  font-size: .9em;
  font-weight: normal; }
  .required abbr {
    color: #d00; }

form fieldset {
  margin: 0;
  padding: 0 0 3em 0; }
  form fieldset legend {
    font-weight: bold;
    margin-bottom: .5em; }
    form fieldset legend abbr {
      color: #d00;
      font-size: .8em; }
form ul {
  padding-left: 0; }
  form ul li {
    margin: 0 0 1.5em 0; }
    form ul li strong {
      color: #d00;
      font-size: .8em; }
      form ul li strong abbr {
        vertical-align: super; }
    form ul li em {
      color: #999;
      margin-left: 20px;
      margin-bottom: 13px;
      line-height: 1.35em; }
    form ul li input[type="TEXT"],
    form ul li input[type="date"],
    form ul li input[type="email"],
    form ul li select {
      padding: 5px 8px; }
    form ul li select {
      height: 30px; }
      form ul li select option {
        padding: 5px 8px; }
  form ul.radio li {
    margin: 0 0 .5em 0; }

#btn-wrapper input {
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875em;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 11px 28px 11px 30px;
  width: auto;
  border: none;
  box-shadow: none; }
  #btn-wrapper input:hover {
    cursor: pointer;
    background: #00853e; }

.footer-socials {
  color: #fff;
  padding: 15px 0.9375em;
  display: block;
  background: #2d2c2c;
  text-align: center;
  float: none;
  overflow: hidden; }
  .footer-socials .socials-wrapper {
    height: 50px; }
    @media (max-width: 767px) {
      .footer-socials .socials-wrapper {
        height: 40px; } }
  .footer-socials a {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    padding: 5px;
    display: inline-block;
    color: #efefef;
    text-decoration: none;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px; }
    @media (max-width: 767px) {
      .footer-socials a {
        margin: 0;
        width: 30px;
        height: 30px;
        padding: 5px; } }
    .footer-socials a img {
      padding: 0px;
      width: 40px;
      height: 40px; }
      @media (max-width: 767px) {
        .footer-socials a img {
          padding: 0px;
          width: 30px;
          height: 30px; } }
    .footer-socials a.facebook:hover {
      background: #3b5998; }
    .footer-socials a.twitter:hover {
      background: #55acee; }
    .footer-socials a.youtube:hover {
      background: #cd201f; }
    .footer-socials a.instagram:hover {
      background: #3f729b; }
    .footer-socials a.flickr:hover {
      background: #82B2CF; }
    .footer-socials a.mobile:hover {
      background: #046C35; }
    .footer-socials a.directory:hover {
      background: #897B68; }

.footer-main {
  color: #efefef;
  padding: 1em 0 .25em 0;
  background: #181818; }
  .footer-main a, .footer-main a:link, .footer-main a:active, .footer-main a:visited {
    color: #efefef; }
  .footer-main a:active, .footer-main a:hover {
    color: #72b844; }
  .footer-main .lockup {
    text-align: center; }
    .footer-main .lockup a {
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
      background: #00853e; }
  .footer-main .need-help {
    color: #fff;
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    line-height: 1em;
    display: block; }
    @media (max-width: 1199px) {
      .footer-main .need-help {
        font-size: 17px;
        font-size: 1.0625em;
        font-size: 1.0625rem; } }
    @media (max-width: 767px) {
      .footer-main .need-help {
        font-size: 20px;
        font-size: 1.25em;
        font-size: 1.25rem; } }
  .footer-main .help-phone {
    margin: 0 0 5px 0;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    line-height: 1em;
    display: block;
    font-weight: bold; }
    @media (max-width: 1199px) {
      .footer-main .help-phone {
        font-size: 18px;
        font-size: 1.125em;
        font-size: 1.125rem; } }
    @media (max-width: 767px) {
      .footer-main .help-phone {
        font-size: 20px;
        font-size: 1.25em;
        font-size: 1.25rem; } }
    .footer-main .help-phone i.fa {
      color: #fff; }
    .footer-main .help-phone a {
      text-decoration: none; }
    .footer-main .help-phone a:hover {
      text-decoration: underline; }
  .footer-main .ctas {
    text-align: center; }
    .footer-main .ctas a {
      padding: 15px 30px;
      color: #fff;
      background: #72b844;
      margin: 1em 10px 0 10px;
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      font-size: 24px;
      font-size: 1.5em;
      font-size: 1.5rem;
      line-height: 1.1em;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      @media (min-width: 980px) and (max-width: 1199px) {
        .footer-main .ctas a {
          padding: 12px 23px;
          margin: .75em 10px 0 10px; } }
      @media (max-width: 979px) {
        .footer-main .ctas a {
          display: block;
          clear: both;
          margin: 0 0 6px 0;
          padding: 10px 20px 11px 20px;
          font-size: 21px;
          font-size: 1.3125em;
          font-size: 1.3125rem; }
          .footer-main .ctas a span.br {
            display: none; }
          .footer-main .ctas a span.spacer {
            display: inline-block;
            width: 8px; } }
      @media (max-width: 767px) {
        .footer-main .ctas a {
          margin: 0 0 5px 0;
          font-size: 24px;
          font-size: 1.5em;
          font-size: 1.5rem; } }
    .footer-main .ctas a:hover {
      color: #181818;
      background: #fff; }
  .footer-main ul.fa-ul {
    margin-left: 20px; }
    .footer-main ul.fa-ul li {
      list-style: none;
      font-size: 12px;
      font-size: 0.75em;
      font-size: 0.75rem;
      margin-bottom: .5em; }
      .footer-main ul.fa-ul li a {
        text-decoration: none; }
      .footer-main ul.fa-ul li a:hover {
        text-decoration: underline; }

.footer-copyright {
  text-align: center;
  background: #000;
  padding: 1.25em 0 .75em 0; }
  .footer-copyright p {
    color: #888;
    margin: 0 0 1em 0;
    font-size: 12px;
    font-size: 0.75em;
    font-size: 0.75rem;
    line-height: 1.25em; }
  .footer-copyright a, .footer-copyright a:link, .footer-copyright a:active, .footer-copyright a:visited {
    color: #aaa; }
  .footer-copyright a:active, .footer-copyright a:hover {
    color: #72b844; }

@media (max-width: 767px) {
  .col.large-12 {
    padding-left: 0;
    padding-right: 0; } }

li.col {
  line-height: 1.75em; }
