/* ==========================================================================
   VARIABLES
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Michroma);
.large-12 {
  width: 100%; }

.large-11 {
  width: 91.6%; }

.large-10 {
  width: 83.3%; }

.large-9 {
  width: 75%; }

.large-8 {
  width: 66.6%; }

.large-7 {
  width: 58.3%; }

.large-6 {
  width: 50%; }

.large-5 {
  width: 41.6%; }

.large-4 {
  width: 33.3%; }

.large-3 {
  width: 25%; }

.large-2 {
  width: 16.6%; }

.large-1 {
  width: 8.3%; }

.large-0 {
  width: 0px;
  height: 0px; }

.large-5th {
  width: 20%; }

@media (max-width: 1219px) {
  .medium-12 {
    width: 100%; }

  .medium-11 {
    width: 91.6%; }

  .medium-10 {
    width: 83.3%; }

  .medium-9 {
    width: 75%; }

  .medium-8 {
    width: 66.6%; }

  .medium-7 {
    width: 58.3%; }

  .medium-6 {
    width: 50%; }

  .medium-5 {
    width: 41.6%; }

  .medium-4 {
    width: 33.3%; }

  .medium-3 {
    width: 25%; }

  .medium-2 {
    width: 16.6%; }

  .medium-1 {
    width: 8.3%; }

  .medium-0 {
    width: 0px;
    height: 0px; }

  .medium-5th {
    width: 20%; } }
@media (max-width: 979px) {
  .small-12 {
    width: 100%; }

  .small-11 {
    width: 91.6%; }

  .small-10 {
    width: 83.3%; }

  .small-9 {
    width: 75%; }

  .small-8 {
    width: 66.6%; }

  .small-7 {
    width: 58.3%; }

  .small-6 {
    width: 50%; }

  .small-5 {
    width: 41.6%; }

  .small-4 {
    width: 33.3%; }

  .small-3 {
    width: 25%; }

  .small-2 {
    width: 16.6%; }

  .small-1 {
    width: 8.3%; }

  .small-0 {
    width: 0px;
    height: 0px; }

  .small-5th {
    width: 20%; } }
@media (max-width: 767px) {
  .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .small-5th, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .medium-5th, .large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .large-5th {
    width: 100%; }

  .mobile-12 {
    width: 100%; }

  .mobile-11 {
    width: 91.6%; }

  .mobile-10 {
    width: 83.3%; }

  .mobile-9 {
    width: 75%; }

  .mobile-8 {
    width: 66.6%; }

  .mobile-7 {
    width: 58.3%; }

  .mobile-6 {
    width: 50%; }

  .mobile-5 {
    width: 41.6%; }

  .mobile-4 {
    width: 33.3%; }

  .mobile-3 {
    width: 25%; }

  .mobile-2 {
    width: 16.6%; }

  .mobile-1 {
    width: 8.3%; }

  .mobile-0 {
    width: 0px !important;
    height: 0px !important; }

  .mobile-5th {
    width: 20%; } }
.section {
  width: 100%;
  margin: 0;
  padding: 0 !important; }

.box {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 767px) {
    .box {
      width: 90%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .box {
      width: 700px; } }
  @media (min-width: 980px) and (max-width: 1219px) {
    .box {
      width: 940px; } }
  @media (min-width: 1220px) {
    .box {
      width: 1180px; } }

.row {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 2em 0 2.5em 0;
  clear: both;
  width: 100%; }
  @media (max-width: 767px) {
    .row {
      padding: 1.75em 0; } }
  .row:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .row .table {
    display: table; }

.col {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  overflow: hidden; }
  .col.centered {
    margin: 0 auto;
    float: none; }
  .col.pad > .inside {
    padding: 1em; }
    .col.pad > .inside.imagefit {
      padding: 0; }
  .col.right {
    float: right !important; }
    @media (max-width: 767px) {
      .col.right {
        float: none !important; } }
  @media (max-width: 767px) {
    .col {
      float: none;
      margin: 0 auto; }
      .col .small-center {
        text-align: center; }
      .col.mobile-1, .col.mobile-2, .col.mobile-3, .col.mobile-4, .col.mobile-5, .col.mobile-6, .col.mobile-7, .col.mobile-8, .col.mobile-9, .col.mobile-10, .col.mobile-11, .col.mobile-12, .col.mobile-5th {
        float: left; } }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.no-pad {
  padding: 0 !important; }

.pad-left {
  padding-right: 4em !important; }
  @media (min-width: 768px) and (max-width: 979px) {
    .pad-left {
      padding-right: 2em !important; } }
  @media (min-width: 980px) and (max-width: 1219px) {
    .pad-left {
      padding-right: 3em !important; } }

.pad-right {
  padding-left: 4em !important; }
  @media (min-width: 768px) and (max-width: 979px) {
    .pad-right {
      padding-left: 2em !important; } }
  @media (min-width: 980px) and (max-width: 1219px) {
    .pad-right {
      padding-left: 3em !important; } }

.text-left {
  padding-right: 2.5em !important; }
  @media (min-width: 768px) and (max-width: 979px) {
    .text-left {
      padding-right: 1.5em !important; } }
  @media (min-width: 980px) and (max-width: 1219px) {
    .text-left {
      padding-right: 2em !important; } }

.text-right {
  padding-left: 2.5em !important; }
  @media (min-width: 768px) and (max-width: 979px) {
    .text-right {
      padding-left: 1.5em !important; } }
  @media (min-width: 980px) and (max-width: 1219px) {
    .text-right {
      padding-left: 2em !important; } }

@media (max-width: 767px) {
  .pad-left, .pad-right, .text-left, .text-right {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (max-width: 739px) {
  html {
    font-size: 13px; } }
@media (min-width: 740px) and (max-width: 979px) {
  html {
    font-size: 13px; } }
@media (min-width: 980px) and (max-width: 1219px) {
  html {
    font-size: 15px; } }
@media (min-width: 1220px) {
  html {
    font-size: 16px; } }

/* ------------------------------------------------------------------------------------------------ [ TYPOGRAPHY ] ----- */
body {
  width: 100%;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 600 !important;
  font-family: "Open Sans", Verdana, Arial, sans-serif; }

h1 {
  font-size: 72px;
  font-size: 4.5em;
  font-size: 4.5rem;
  line-height: 1em;
  margin: 0;
  font-family: "Open Sans Condensed", Verdana, Arial, sans-serif; }

h2 {
  font-size: 32px;
  font-size: 2em;
  font-size: 2rem;
  line-height: 1em;
  margin: 30px 0 15px 0; }

h3 {
  font-size: 30px;
  font-size: 1.875em;
  font-size: 1.875rem;
  line-height: 1.25em;
  margin-top: 57px;
  margin-bottom: 19px; }

#zone-content h3 {
  font-size: 30px;
  font-size: 1.875em;
  font-size: 1.875rem;
  line-height: 1.25em; }

h4 {
  font-size: 24px;
  font-size: 1.5em;
  font-size: 1.5rem;
  line-height: 1.35em;
  margin-top: 52px;
  margin-bottom: 13px;
  color: #888; }

h5 {
  font-size: 18px;
  font-size: 1.125em;
  font-size: 1.125rem;
  line-height: 24px;
  margin-top: 36px;
  margin-bottom: 9px; }

h1, h2, h3, h4, h5, h6 {
  color: #d5c084;
  letter-spacing: normal;
  font-weight: normal; }

h2 {
  font-weight: normal !important; }

h3 {
  font-weight: normal !important; }

p, ul, ol, pre, table, blockquote {
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 1.15em;
  color: #efefef; }

p {
  line-height: 1.75em; }

hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

li {
  line-height: 1.35em;
  margin: 0 0 .75em 0; }
  .smaller li {
    font-size: .9em !important;
    line-height: 1.5em; }

b, strong, em, small, code {
  line-height: 1; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

.title {
  margin-top: 0; }

/* ------------------------------------------------------------------------------------------------ [ OTHER TYPO ] ----- */
.content ul, .content ol {
  padding-left: 25px; }
  .content ul li, .content ol li {
    margin: 0 0 .65em 0;
    line-height: 1.35em; }
.content ul.menu {
  padding-left: 0; }

a, a:link, a:active, a:visited {
  color: #eee; }

a:hover, a:focus {
  color: #b51016;
  text-decoration: underline; }

.caps {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: 700;
  letter-spacing: .025em; }

.red-star {
  font-family: "Montserrat", verdana, arial, sans-serif;
  font-weight: normal;
  color: #c00; }

.tooltip {
  border: dashed 1px #ccc;
  border-width: 0 0 1px 0;
  background: #fbfbe5;
  padding: 2px 0;
  position: relative; }

.tooltip span {
  display: none;
  position: absolute;
  top: 125%;
  background: #fbfbe5;
  font-size: .8em;
  line-height: 1.35em; }

.tooltip:hover {
  cursor: hand !important; }

.tooltip:hover span,
.tooltip:focus span {
  display: block;
  width: 250px;
  padding: 10px;
  z-index: 1000; }

.caption,
.table-notes {
  font-size: .7em;
  line-height: 1.35em;
  margin: -15px 0 10px 0;
  color: #999;
  font-style: italic; }

.caption {
  margin: 3px 0 0 0; }

.video .caption {
  margin: 18px 0 0 -7px; }

.border {
  border: solid 3px #eee; }

.no-border {
  border: none !important; }

.grid-3.left-sidebar h2.block-title,
.grid-3.right-sidebar h2.block-title,
.block-menu h3.block-title,
.gallery-title {
  font-size: 18px;
  line-height: 26px;
  margin-top: 1em;
  margin-bottom: .75em; }

body {
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding: 0;
  background: url(../images/background-fw.jpg) center center no-repeat #000;
  background-size: cover; }
  @media (max-width: 767px) {
    body {
      background: url(../images/background-mobile.jpg) bottom center no-repeat #000;
      background-size: inherit; } }

.section {
  height: auto; }
  .section .box .row {
    padding: 0;
    height: 100vh; }
    @media (max-width: 767px) {
      .section .box .row {
        height: auto; } }
    .section .box .row .col {
      height: 100%;
      text-align: center;
      position: relative; }
      @media (max-width: 767px) {
        .section .box .row .col {
          height: auto; } }
      .section .box .row .col img {
        margin: 0 auto; }
      .section .box .row .col.content .inside {
        width: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0 auto; }
        @media (max-width: 767px) {
          .section .box .row .col.content .inside {
            top: inherit !important;
            right: inherit !important;
            bottom: inherit !important;
            left: inherit !important;
            position: inherit !important;
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -o-transform: none !important;
            transform: none !important; } }

h1 {
  margin: 0;
  padding: 0 0 2px 0;
  line-height: 1em;
  position: relative;
  display: inline-block;
  border: solid 2px #393428;
  border-width: 2px 0; }
  h1::before {
    color: #393428;
    content: "\f005";
    font-size: 18px;
    font-family: "FontAwesome";
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: -25px; }
  h1::after {
    color: #393428;
    content: "\f005";
    font-size: 18px;
    font-family: "FontAwesome";
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: -25px; }

.introducing {
  color: #d5c084;
  margin: 1.25em 0 .65em 0;
  font-size: 19px;
  font-size: 1.1875em;
  font-size: 1.1875rem;
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Michroma", sans-serif; }
  .introducing span {
    padding: 0 .65em; }
  @media (max-width: 369px) {
    .introducing {
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem;
      letter-spacing: normal; } }

.arriving {
  color: #d5c084;
  margin: 0 0 3.5em 0;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: "Michroma", sans-serif; }

.details {
  color: #ccc;
  margin: 0 0 .5em 0;
  font-size: 23px;
  font-size: 1.4375em;
  font-size: 1.4375rem;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: "Open Sans Condensed", sans-serif; }
  .details span {
    display: inline-block;
    width: 40px;
    position: relative;
    height: 16px; }
  .details i.fa {
    color: #393428;
    font-size: 12px;
    font-size: 0.75em;
    font-size: 0.75rem;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  @media (max-width: 320px) {
    .details {
      letter-spacing: normal; } }

.tagline {
  color: #d5c084;
  margin: 0 0 3.5em 0;
  line-height: 1em;
  font-size: 14px;
  font-size: 0.875em;
  font-size: 0.875rem;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "Michroma", sans-serif; }

.contact {
  color: #d5c084;
  margin: 0 0 1.25em 0;
  font-size: 14px;
  font-size: 0.875em;
  font-size: 0.875rem;
  line-height: 1.75em;
  font-weight: 100;
  font-family: "Michroma", sans-serif; }
  .contact a, .contact a:link, .contact a:active, .contact a:visited {
    color: #ccc;
    font-family: "Michroma", sans-serif;
    text-decoration: none; }
  .contact a:active, .contact a:hover {
    color: #fff;
    text-decoration: underline; }

.trademark {
  font-size: .6em;
  vertical-align: text-top; }
  .introducing .trademark {
    margin-left: -10px; }

.social-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 7px;
  color: #fff; }
  @media (max-width: 767px) {
    .social-icon {
      width: 40px;
      height: 40px; } }
  .social-icon i.fa {
    font-size: 22px;
    line-height: 34px; }
    @media (max-width: 767px) {
      .social-icon i.fa {
        font-size: 30px;
        line-height: 42px; } }
  .social-icon.facebook {
    background: #395897; }
  .social-icon.twitter {
    background: #28aae0; }
  .social-icon a, .social-icon a:link, .social-icon a:active, .social-icon a:visited {
    height: 40px;
    width: 40px; }
  .social-icon a:active, .social-icon a:hover {
    color: #fff; }

.legal {
  bottom: 10px;
  right: 0;
  padding-right: 20px;
  font-size: 10px;
  font-size: 0.625em;
  font-size: 0.625rem;
  position: fixed; }
  .legal p {
    margin: 0;
    text-transform: none;
    color: #7e7e7e;
    font-family: Helvetica, sans-serif;
    font-weight: normal; }
  @media (max-width: 767px) {
    .legal {
      bottom: 0px;
      text-align: center;
      right: auto;
      width: 100%;
      background: #000;
      height: 20px; } }

.mobile-footer-fade {
  display: none;
  height: 0px;
  width: 0px; }
  @media (max-width: 767px) {
    .mobile-footer-fade {
      height: 29px;
      width: 100%;
      background: url(../images/mobile-footer-fade.png) bottom left repeat-x;
      position: absolute;
      bottom: 20px; } }

.mobile.mvp-logo {
  padding: 5em 0 4em 0; }

.bottle-mobile {
  margin-top: 3em; }

.mobile {
  display: none; }
  @media (max-width: 767px) {
    .mobile {
      display: block !important; } }
