/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Font Stacks
$open-condensed:	'Open Sans Condensed', sans-serif;
$michroma:				'Michroma', sans-serif;
$fontawesome: 		'FontAwesome';

// Colors
$facebook:			#395897;
$twitter:				#28aae0;

// Typography colors
//$gold:	#b9a360;
$gold:	#d5c084;
$brown:	#393428;

// Other Variables
$a-tags: 				'a, a:link, a:active, a:visited';
$a-tags-hover: 	'a:active, a:hover';
$normal:				500 !important;
$less-bold:			600 !important;
$bold:					700 !important;
$bolder:				800 !important;

$headerHeight:	70px !important;